/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
	 height: 100%;
}

body {
	 margin: 0;
	 font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
	 max-width: 1200px;
	 width: 90%;
	 margin-left: auto;
	 margin-right: auto;
}

.sign-in-form, .register-form {
	 margin: 0 auto;
	 max-width: 360px;
	 padding: 5em 1em;
}

.sign-in-form .mat-form-field, .register-form .mat-form-field {
	 display: block;
	 width: 100%;
}

.sign-in-form .row-actions, .register-form .row-actions {
	 display: flex;
	 place-content: flex-end;
}